<div id="main">
  <aside>
    <div>
      <ul class="nav">
        <li class="nav-item left-arrow"></li>
        <li class="nav-item top">FREE GROUND SHIPPING ON ORDERS OF $75+</li>
        <li class="nav-item right-arrow"></li>
      </ul>
    </div>
  </aside>
  <header>
    <ul>
      <li>
        <svg data-name="globe" viewBox="0 0 20 20" class="web">
          <path
            d="M12.2 15.4c.3-.8.5-1.8.6-2.8h2.4c-.6 1.2-1.7 2.2-3 2.8m-3 .4c-.2-.3-.6-1.5-.9-3.2h3.3c-.3 1.7-.7 2.9-.9 3.2-.2 0-.5.1-.7.1-.3-.1-.5-.1-.8-.1m-4.4-3.2h2.4c.1 1 .4 2 .6 2.8-1.3-.6-2.4-1.6-3-2.8m3-8c-.2.8-.5 1.8-.6 2.8H4.8c.6-1.2 1.7-2.3 3-2.8m2.9-.4c.1.3.6 1.6.9 3.2H8.4c.3-1.7.7-2.9.9-3.2.2 0 .5-.1.7-.1.2.1.5.1.7.1M8.2 10c0-.5 0-.9.1-1.3h3.5c0 .4.1.9.1 1.3s0 .9-.1 1.3H8.2V10m-4 0c0-.5.1-.9.2-1.3H7c0 .5-.1 1-.1 1.3 0 .4 0 .8.1 1.3H4.3c-.1-.4-.1-.8-.1-1.3m11.6 0c0 .5-.1.9-.2 1.3H13c0-.5.1-.9.1-1.3s0-.8-.1-1.3h2.7c.1.4.1.8.1 1.3m-.6-2.6h-2.4c-.2-1-.4-2-.7-2.8 1.4.5 2.5 1.6 3.1 2.8M10 2.9c-3.9 0-7.1 3.2-7.1 7.1s3.2 7.1 7.1 7.1 7.1-3.2 7.1-7.1-3.2-7.1-7.1-7.1"
          ></path></svg
        ><button class="us">US</button>
        <button class="or">|</button>
        <button class="doll">$</button>
        <img src="../assets/images/icon_search.svg" class="search" alt="" />
        <svg viewBox="0 0 28 35" class="logo">
          <path
            d="M20.4 1L14 14.1 7.6 1 .5 15.9V33h27V15.9L20.4 1zm0 2.4l6 12.5h-12l6-12.5zm-12.8 0l6.1 12.5h-12L7.6 3.4zM13.5 32h-1.4v-7.8h1.4V32zm-1.4-8.8c0-1 .9-1.7 1.9-1.7 1 0 1.9.8 1.9 1.7h-3.8zm3.8 8.8h-1.4v-7.8h1.4V32zm10.6 0H17v-8.8c0-1.5-1.3-2.8-2.9-2.8-1.6 0-2.9 1.2-2.9 2.8V32H1.5V16.9h24.9V32z"
            class="icon_svg__st0"
          ></path>
          <path
            d="M9.3 19.1h-6v8h5.9v-8zM5.8 26H4.4v-5.9h1.4V26zm2.4 0H6.8v-5.9h1.4V26zm16.5-6.9h-5.9v8h5.9v-8zM21.2 26h-1.4v-5.9h1.4V26zm2.5 0h-1.4v-5.9h1.4V26z"
            class="icon_svg__st0"
          ></path>
        </svg>
        <svg viewBox="0 0 123 8" class="title">
          <path
            fill="#3150a2"
            d="M8.4 0L4.8 6.3 1.2 0H0v8h1.3V2.7l3 5.3h1l3-5.3V8h1.3V0zM20 1.7l1.7 3.6h-3.3L20 1.7zM19.4 0l-3.7 8h1.4l.6-1.3h4.6l.6 1.3h1.4l-3.7-8h-1.2zm11.4 0h1.3v8h-1.3z"
          ></path>
          <defs><path id="text_svg__a" d="M0 0h123v8H0z"></path></defs>
          <clipPath id="text_svg__b">
            <use overflow="visible" xlink:href="#text_svg__a"></use>
          </clipPath>
          <path
            fill="#3150a2"
            d="M41.7 1.3c.7 0 1.2.4 1.4 1.3l1.2-.5C44 .8 43 0 41.8 0c-1.3 0-2.4.8-2.4 2.3C39.4 5 43 4.2 43 5.8c0 .6-.4.9-1.1.9-.8 0-1.3-.5-1.5-1.4l-1.1.6c.2 1.6 1.4 2.1 2.5 2.1 1.3 0 2.4-.7 2.4-2.3 0-2.8-3.6-1.9-3.6-3.5 0-.5.4-.9 1.1-.9m13.2 5.4c-1.5 0-2.7-1.1-2.7-2.7s1.1-2.7 2.7-2.7c1.5 0 2.7 1.1 2.7 2.7s-1.1 2.7-2.7 2.7m0-6.7c-2.3 0-4 1.7-4 4s1.7 4 4 4 4-1.7 4-4-1.7-4-4-4"
            clip-path="url(#text_svg__b)"
          ></path>
          <path
            fill="#3150a2"
            d="M71.7 0v5.8L67 0h-1.2v8h1.3V2.3L71.8 8H73V0zm8.5 0v8h5V6.7h-3.7v-2h3.7V3.3h-3.7v-2h3.7V0zm11.2 0v1.3h3V8h1.3V1.3h3V0zm12.9 0v1.3h3V8h1.3V1.3h3V0zM118 0v8h5V6.7h-3.7v-2h3.7V3.3h-3.7v-2h3.7V0z"
          ></path>
        </svg>
        <button class="sign">Sign in</button>
        <svg data-name="heart" viewBox="0 0 20 20" class="heart">
          <path
            d="M15 6.3c-.3-1.1-1.1-1.7-2.2-1.7-.1 0-1.8-.1-2.9 1.9-1.1-2-2.8-1.9-2.9-1.9-1.1 0-1.9.6-2.2 1.7-.7 2.2.8 6.1 4.9 8.8l.3.2.3-.2c3.9-2.7 5.4-6.6 4.7-8.8"
          ></path>
        </svg>
        <svg data-name="cart" viewBox="0 0 20 20" class="cart">
          <path
            d="M16.4 14h.6v-1H7.5l-.2-.6L17 8.9V4H5.7l-.4-1H2v1h2.3l2.1 9.8c-.8.2-1.4.9-1.4 1.8 0 1.1.9 1.9 1.9 1.9 1.1 0 1.9-.8 1.9-1.9 0-.8-.4-1.7-1.1-1.7h7.1c-.6 0-1.1.9-1.1 1.7 0 1.1.9 1.9 1.9 1.9 1.1 0 1.9-.8 1.9-1.9 0-.7-.4-1.6-1.1-1.6zM6 5h10v3l-8.9 2.7L6 5zm.9 11.2c-.4 0-.7-.3-.7-.7s.3-.7.7-.7c.4 0 .7.3.7.7s-.3.7-.7.7zm8.7 0c-.4 0-.7-.3-.7-.7s.3-.7.7-.7c.4 0 .7.3.7.7s-.3.7-.7.7z"
          ></path>
        </svg>
      </li>
    </ul>
  </header>
  <div class="container">
    <nav class="nav">
      <a class="nav-link" style="color: brown; position: relative; top: 6px"
        ><img
          src="https://assets.maisonette.com/images/wings-left.svg"
          alt="side-img"
          style="height: 20px; width: 20px" />
        <span style="color: brown; position: relative; top: -5px">HOLIDAY</span
        ><img
          src="https://assets.maisonette.com/images/wings-right.svg"
          alt="side-img"
          style="height: 20px; width: 20px"
      /></a>
      <a class="nav-link">WHAT'S NEW</a>
      <a class="nav-link">BABY</a>
      <a class="nav-link">KIDS</a>
      <a class="nav-link">PLAY</a>
      <a class="nav-link">HOME</a>
      <a class="nav-link">GEAR</a>
      <a class="nav-link">GIFTS</a>
      <a class="nav-link">BRANDS</a>
      <a class="nav-link">SALE</a>
      <a class="nav-link">READ</a>
    </nav>
  </div>
  <div class="figure">
    <img
      src="https://assets.maisonette.com/media/original/hero/fefb8ad0-72e2-4f1f-a1ae-aa3811ee1919/FallDecor_Hero_Desktop.jpeg"
      alt="main-image"
      class="main-img"
    />
    <figcaption>
      <h1>Fall Home Decor</h1>
      <p class="shopnow"><u>SHOP NOW</u></p>
    </figcaption>
  </div>
  <hr class="hr" />
  <div class="products">
    <h2 class="p-title">Shop By Age</h2>
    <ul class="shop-age">
      <li>
        <img
          src="https://assets.maisonette.com/media/original/icon-about/70598eb3-98d0-4861-80a4-5f652b81ea91/06m.png"
          alt=""
          class="s-age"
        />
        <p class="size">0 - 6 M</p>
        <svg data-name="arrow-circle" viewBox="0 0 100 100" class="arrow">
          <circle cx="50" cy="50" r="48"></circle>
          <path d="M30 50h40M50 30l20 20-20 20"></path>
        </svg>
      </li>
      <li>
        <img
          src="https://assets.maisonette.com/media/original/icon-about/2da20689-c072-46e3-b09e-3432d76502bd/612m.png"
          alt=""
          class="s-age"
        />
        <p class="size">6 - 12 M</p>
        <svg data-name="arrow-circle" viewBox="0 0 100 100" class="arrow">
          <circle cx="50" cy="50" r="48"></circle>
          <path d="M30 50h40M50 30l20 20-20 20"></path>
        </svg>
      </li>
      <li>
        <img
          src="https://assets.maisonette.com/media/original/icon-about/e8b6c006-ff14-459c-ad90-5a83bb76f70c/1224m.png"
          alt=""
          class="s-age"
        />
        <p class="size">12 - 24 M</p>
        <svg data-name="arrow-circle" viewBox="0 0 100 100" class="arrow">
          <circle cx="50" cy="50" r="48"></circle>
          <path d="M30 50h40M50 30l20 20-20 20"></path>
        </svg>
      </li>
      <li>
        <img
          src="https://assets.maisonette.com/media/original/icon-about/ef590679-45be-4be3-8252-df8d80d765ae/24y.png"
          alt=""
          class="s-age"
        />
        <p class="size">2 - 4 Y</p>
        <svg data-name="arrow-circle" viewBox="0 0 100 100" class="arrow">
          <circle cx="50" cy="50" r="48"></circle>
          <path d="M30 50h40M50 30l20 20-20 20"></path>
        </svg>
      </li>
      <li>
        <img
          src="https://assets.maisonette.com/media/original/icon-about/a3c097cd-c91c-4c72-acc4-a669658f1433/46y.png"
          alt=""
          class="s-age"
        />
        <p class="size">4 - 6 Y</p>
        <svg data-name="arrow-circle" viewBox="0 0 100 100" class="arrow">
          <circle cx="50" cy="50" r="48"></circle>
          <path d="M30 50h40M50 30l20 20-20 20"></path>
        </svg>
      </li>
      <li>
        <img
          src="https://assets.maisonette.com/media/original/icon-about/ec04762e-fccf-49dd-8f6e-74cf435d8b33/68y.png"
          alt=""
          class="s-age"
        />
        <p class="size">6 - 8 Y</p>
        <svg data-name="arrow-circle" viewBox="0 0 100 100" class="arrow">
          <circle cx="50" cy="50" r="48"></circle>
          <path d="M30 50h40M50 30l20 20-20 20"></path>
        </svg>
      </li>
      <li>
        <img
          src="https://assets.maisonette.com/media/0e86e166-9659-41e0-bdfc-c82e8173e44d/8y-large.png"
          alt=""
          class="s-age"
        />
        <p class="size">8 Y +</p>
        <svg data-name="arrow-circle" viewBox="0 0 100 100" class="arrow">
          <circle cx="50" cy="50" r="48"></circle>
          <path d="M30 50h40M50 30l20 20-20 20"></path>
        </svg>
      </li>
      <li>
        <img
          src="https://assets.maisonette.com/media/original/icon-about/4ceeea9f-adf2-4a23-b6e4-8ca5acf257e3/Adult-(3).png"
          alt=""
          class="s-age"
        />
        <p>GROWN - UPS</p>
        <svg data-name="arrow-circle" viewBox="0 0 100 100" class="arrow">
          <circle cx="50" cy="50" r="48"></circle>
          <path d="M30 50h40M50 30l20 20-20 20"></path>
        </svg>
      </li>
    </ul>
  </div>
  <hr class="hr" />
  <div>
    <ul id="img">
      <li>
        <img
          class="img"
          src="https://assets.maisonette.com/media/c083cc75-27c6-4a7e-b271-4c29fbd303fa/GiftFinder_Updated-large.gif"
          alt=""
        />
        <h3 class="list">Gift Finder</h3>
        <h6 class="sh"><u>SHOP NOW</u></h6>
      </li>
      <li>
        <img
          class="img img2"
          src="https://assets.maisonette.com/media/0d7bbab4-99bb-4517-a3eb-947031989c8a/PJs_Circle-large.jpg"
          alt=""
        />
        <h3 class="list">Holiday Pajamas</h3>
        <h6 class="sh"><u>SHOP NOW</u></h6>
      </li>
    </ul>
  </div>
  <hr />
</div>
